block jumbotron
	#jumbotron
		section.overlay
			img(src="/img/article-thumbs/"+feature.thumb, alt="")#hero-img

		.wrapper
			.flex-top
				.flex-left
					.meta
						.likes
							i.fa.fa-heart
							h5.like-num= feature.likes
						
						.comments
							i.fa.fa-comments
							h5.comm-num= feature.comments.length
							
					.data
						h2.title= feature.title
						h5.date= (feature.created[1] + ' ' + feature.created[2] + ', ' + feature.created[3])
				
				.flex-right
					.edit-btn
			
			.flex-bottom
				.flex-left
					.people
						- each person in feature.people
							figure.person
								img(src="/img/users/"+person.avatar, alt=person.name)
								figcaption
									a(href="/user/"+person._id)
								
				#view-more.flex-right
					.left
						h5 Featured story
						h5 View More
						
					.right
						i.fa.fa-chevron-circle-right.fa-2x

			a(href="/"+feature.url) View More