block jumbotron
	#jumbotron
		section.overlay
			img(src="/img/article-thumbs/"+feature.thumb, alt="")#hero-img

		.wrapper
			.flex-top
				.top
					.meta
						.likes
							img(src="/img/icons/heart.svg").like-icn
							h5.like-num= feature.likes
						
						.comments
							img(src="/img/icons/comment.svg").comm-icn
							h5.comm-num= feature.comments.length

					.edit-btn

				h2.title= feature.title
				h5.date= (feature.created[1] + ' ' + feature.created[2] + ', ' + feature.created[3])
			
			.bottom
				.people
					- each person in feature.people
						figure.person
							img(src="/img/users/"+person.avatar, alt=person.name)
							figcaption
								a(href="/user/"+person._id)

				#view-more
					.left
						h5 Featured story
						h5 View More

					img(src="/img/icons/chevron-with-circle-right.svg")

		a(href="/"+feature.url) View More